		<div class="container mt-3 ml-5">
			<a href="/" class="btn btn-outline-info"> Home </a> </br>

			<% if(currentUser){ %>
				<div class="mid">
					<a href="/logout" class="btn btn-danger">Logout </a>
				</div>
			<% } %>

			<p style="float: right"> @By_Digital_Solutions </p>
		</div>
	</body>
</html>