<%- include ("../partials/header") %>

<div>
	<h2>
		Admin Section
	</h2>
</div>

<div class="mid">
	<a class="btn btn-primary" href="/admin/user"> Users </a> <br>
	<a class="btn btn-primary mt-4" href="/admin/admissions"> Admissions </a>
</div>

<div class="logo">
	
</div>

<%- include("../partials/footer") %>