<%- include ("../partials/header") %>

<div class="mid mt-4">
	<h2 id="head">
		Student Section
	</h2>
</div>

<div class="mid mt-3">
	<a class="btn btn-primary mt-3" href="/students/test"> Go for the test </a> </br>
	<a class="btn btn-outline-secondary mt-3" href="/#"> Schedules </a> </br>
	<a class="btn btn-outline-secondary mt-3" href="/#"> Feedback & Query </a> </br>	
</div>

<div class="logo">
	
</div>

<%- include("../partials/footer") %>