<%- include ("partials/header") %>

<div class="mid mt-4">
	<h1 id="head"> Welcome To the Dashboard </h1>
</div>

<div class="mid">
	<a class="btn btn-outline-primary mt-3" href="/dashboard/teachers"> Teachers Corner </a> </br>
	<a class="btn btn-outline-success mt-3" href="/dashboard/students"> Students Corner </a> </br>
	<a class="btn btn-outline-warning mt-3" href="/dashboard/admins"> Admins Corner </a> </br>

</div>

<div class="mid logo">
	
</div>

<%- include("partials/footer") %>