<%- include ("partials/header") %>

<div class="mid">

	<h1><img id='logo' src="Images/Logo.jpg"> Raj Mandir </h1>
</div>

<div class="mid">
	<a href="/register" class="btn btn-outline-success"> Sign up </a> </br>
	<div class="container">
		<span > 
			Already have an Acount ? 
		</span>
		
		</br>
		<a href="/login" class="btn btn-outline-primary"> Login </a>
	</div>

	<hr>

	<div class="container">
		<a href="/admit" class="btn btn-primary"> Admission section </a> </br>
	</div>
	<hr/>

	<div id="photoGallery">
		<h3 class="m-3"> Our Family </h3>

		<div id="vid">
			<iframe height="100%" width="100%" src="https://www.youtube.com/embed/BxAriz-qC7s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>	
		
		<a href="https://lh3.googleusercontent.com/pw/ACtC-3e-Ro9YHD58wrNFq9h9Rxp4vNW9_zGRescc8oOIH0EEXbp8K_6Tw8Zrit489DvMApXwnYmUhduWHqCqPRlHDiSvRI8tlFAwEKrbtEZNKfNZ1-4nlI5u1984Yye2HrEWyc1wrIxscSp-diTd_Kn_2lA9fQ=w501-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3e-Ro9YHD58wrNFq9h9Rxp4vNW9_zGRescc8oOIH0EEXbp8K_6Tw8Zrit489DvMApXwnYmUhduWHqCqPRlHDiSvRI8tlFAwEKrbtEZNKfNZ1-4nlI5u1984Yye2HrEWyc1wrIxscSp-diTd_Kn_2lA9fQ=w501-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3fgj0PEqO1gjkpE2f8B_jWm3dedPCpA1ccDyIfW_JSYZ_rFYwk1ogHNNMEvc5CT8Snm5BBnp1nNpc1TcbqeJGZDYLzGKyhCyHwbdNe9C2XhR7u_vkVfMnkuHjiobQOgNsTaY_n_ckqHMjUCX08VFz7vag=s500-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3fgj0PEqO1gjkpE2f8B_jWm3dedPCpA1ccDyIfW_JSYZ_rFYwk1ogHNNMEvc5CT8Snm5BBnp1nNpc1TcbqeJGZDYLzGKyhCyHwbdNe9C2XhR7u_vkVfMnkuHjiobQOgNsTaY_n_ckqHMjUCX08VFz7vag=s500-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3eVaodhit2Zna3UcKDbjlFHZTvp4b95xE2USp-NUTQQbaczzbRYzsw6QzUsfPaBoFrFBL4AvmNc9z1ZGw4tx0ZcJRe9CKV0L3JUcuT728gyjFvazuwYcMSy55v2XQxPRwxBLtJFQqq2jSVmsAYzlPG0zw=w501-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3eVaodhit2Zna3UcKDbjlFHZTvp4b95xE2USp-NUTQQbaczzbRYzsw6QzUsfPaBoFrFBL4AvmNc9z1ZGw4tx0ZcJRe9CKV0L3JUcuT728gyjFvazuwYcMSy55v2XQxPRwxBLtJFQqq2jSVmsAYzlPG0zw=w501-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3eGfZa2pba14sl_wNAO9kWawujIN6K9WsqJUNDx7RO0vy9Z_9UQSSPJxACgFXslpRtfqpaELpmCsMR_KUAN8jHl1dryPradS4bjpH6wR8bZVde0IXXWCiGQNiT5FWNxjXILEVNPOh-FbSKtJp4dt7HwpQ=w500-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3eGfZa2pba14sl_wNAO9kWawujIN6K9WsqJUNDx7RO0vy9Z_9UQSSPJxACgFXslpRtfqpaELpmCsMR_KUAN8jHl1dryPradS4bjpH6wR8bZVde0IXXWCiGQNiT5FWNxjXILEVNPOh-FbSKtJp4dt7HwpQ=w500-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3fnEl8s_0lLzpHBeW0FXR7Fp8EMni2ycAz7t_TDynQdjoamDAk8v9V8e6tSRheSXbw-wxd3kBHy0Gt3eKpFV-yLKEZquzdiLvpzDVXFrSxfQKxYv9rdPcr5RfBI3EOHGX3ItchB6zM9_tJ5zEM6cl3YuA=w384-h512-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3fnEl8s_0lLzpHBeW0FXR7Fp8EMni2ycAz7t_TDynQdjoamDAk8v9V8e6tSRheSXbw-wxd3kBHy0Gt3eKpFV-yLKEZquzdiLvpzDVXFrSxfQKxYv9rdPcr5RfBI3EOHGX3ItchB6zM9_tJ5zEM6cl3YuA=w384-h512-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3fEg_5XAwYk0kzh2b4ULIfT0-8DtCxCY7tqeAD4xVoIy1k4e55cXE5rAlHR2oaMeirH_KGXBhbH-XzgezbkOE-ulpj4kuTjgv6lqzS9sXJqMlYz7Q0v1FUEZQeS5ltm_pjdWE9ln9Wo39sAtrZ2NJTn5g=w501-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3fEg_5XAwYk0kzh2b4ULIfT0-8DtCxCY7tqeAD4xVoIy1k4e55cXE5rAlHR2oaMeirH_KGXBhbH-XzgezbkOE-ulpj4kuTjgv6lqzS9sXJqMlYz7Q0v1FUEZQeS5ltm_pjdWE9ln9Wo39sAtrZ2NJTn5g=w501-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3ewFr2-G0uYNtJZ9ROEWxUV3ih-nZ7jm2WBcU0CBbtXvNgdKsCDkwazuGNiiRKj8WpKZclwZtA0tgjhXp753o_s_ePqy20AHaEqDHlDbnCm2lkwWaX55DzgfHJ72oA_NO4HAeI-LFYCVGPjnF0i2pzm0w=w500-h333-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3ewFr2-G0uYNtJZ9ROEWxUV3ih-nZ7jm2WBcU0CBbtXvNgdKsCDkwazuGNiiRKj8WpKZclwZtA0tgjhXp753o_s_ePqy20AHaEqDHlDbnCm2lkwWaX55DzgfHJ72oA_NO4HAeI-LFYCVGPjnF0i2pzm0w=w500-h333-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3cmx3xM5ldt-GBXelsexdlRrT7utIqchB-pyYuc935-WW-Xnw1jakk1RqC4W9xZUVzogY8ugZJmhqPQPkEXM6Zlqq1b2x4Y0EEpSjNwbc-cWL01a_h1WIfsHRxQCDTcW94awHn5Lt-wi-nbgeCI9s9lBg=w500-h333-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3cmx3xM5ldt-GBXelsexdlRrT7utIqchB-pyYuc935-WW-Xnw1jakk1RqC4W9xZUVzogY8ugZJmhqPQPkEXM6Zlqq1b2x4Y0EEpSjNwbc-cWL01a_h1WIfsHRxQCDTcW94awHn5Lt-wi-nbgeCI9s9lBg=w500-h333-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3fqalJj3zFgt4qX6Fbd2pxh7CT0x6TQymKMke98nxdTclf4nubV4R5dTU8EE8IMMopokt1-fezWPACV27pajcoImFziHttVt8TqnCsLGl0l5oT_nS4H_VALvHvJUdbXbCVJBCJSxil2-yv03YNUodhtFA=w500-h333-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3fqalJj3zFgt4qX6Fbd2pxh7CT0x6TQymKMke98nxdTclf4nubV4R5dTU8EE8IMMopokt1-fezWPACV27pajcoImFziHttVt8TqnCsLGl0l5oT_nS4H_VALvHvJUdbXbCVJBCJSxil2-yv03YNUodhtFA=w500-h333-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3eLQUyXaPG43FNxjcxyWU8N0-LSq0kTvUEIVuMa6AbOlJtYD2mkOToAEdAVDXrzHim0jxXexAviTlLxu3VB5YjTGIqTfXJyrcSsT48L9IwXXcrL0lyelWS4wZpJ4GN7lbI65GA9uaPWI9-I24yaavEoyQ=w500-h333-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3eLQUyXaPG43FNxjcxyWU8N0-LSq0kTvUEIVuMa6AbOlJtYD2mkOToAEdAVDXrzHim0jxXexAviTlLxu3VB5YjTGIqTfXJyrcSsT48L9IwXXcrL0lyelWS4wZpJ4GN7lbI65GA9uaPWI9-I24yaavEoyQ=w500-h333-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3fXPYHuJj-Mys_jcLQPZR8hfAZFBMGWsBrRf08m9REs4IPyymjto9Riv6nvf4LbRmEdiSl6FeezNkh7xtsemY9aCTDrOPEGOmcBk4IZnke8qO54jRujiEmr69HDHRMA-0--xeYrkBJWmGreWF1KodmWHQ=w500-h333-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3fXPYHuJj-Mys_jcLQPZR8hfAZFBMGWsBrRf08m9REs4IPyymjto9Riv6nvf4LbRmEdiSl6FeezNkh7xtsemY9aCTDrOPEGOmcBk4IZnke8qO54jRujiEmr69HDHRMA-0--xeYrkBJWmGreWF1KodmWHQ=w500-h333-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3eI7evMghNzlfwwrM_kTViHWYzm1BhtW_xy2PZFZGlAtBXHU2uECYtrq7lMWUOiF4CfF-Te2m2MyoD849Ro1YesLr8gRlFE3yVzz7nKjexeD4dkRRX1SWVVDhVikqT4CjNanfPzPtsSs1uPxo_JVpOMkQ=w500-h333-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3eI7evMghNzlfwwrM_kTViHWYzm1BhtW_xy2PZFZGlAtBXHU2uECYtrq7lMWUOiF4CfF-Te2m2MyoD849Ro1YesLr8gRlFE3yVzz7nKjexeD4dkRRX1SWVVDhVikqT4CjNanfPzPtsSs1uPxo_JVpOMkQ=w500-h333-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3dHK45I8p_47vm24Q4R2Q_zAqgKs0LfhL0GrqZyNtcZw-OEPP_aF9Eyb1lB37m126q_NBKpYS5tLx-Rm1rtmeXwNg07rg0kLH_2rutBrMoEWbZeNMZcMjjVtxCVlqjJSnDVymjFRn21lmsnfqRchvAEUg=w500-h333-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3dHK45I8p_47vm24Q4R2Q_zAqgKs0LfhL0GrqZyNtcZw-OEPP_aF9Eyb1lB37m126q_NBKpYS5tLx-Rm1rtmeXwNg07rg0kLH_2rutBrMoEWbZeNMZcMjjVtxCVlqjJSnDVymjFRn21lmsnfqRchvAEUg=w500-h333-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3fCwlMys_6pr7ZtpR-lSBMloOx_u-7Trgb8UmmeLz4P1YLFeTuapq4lW-IMjqVyXxIfP10UxbzJVHDvJwDsIgC7XQsdEKRLRxe8Y9XfkGqm8cGROuAz4IqBUswAm9wngrSoCw2lfiuhYXaCoxGKvdq62Q=w500-h333-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3fCwlMys_6pr7ZtpR-lSBMloOx_u-7Trgb8UmmeLz4P1YLFeTuapq4lW-IMjqVyXxIfP10UxbzJVHDvJwDsIgC7XQsdEKRLRxe8Y9XfkGqm8cGROuAz4IqBUswAm9wngrSoCw2lfiuhYXaCoxGKvdq62Q=w500-h333-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3eCH7PZIryHnCyWrcP__0hNPMrqXrKKKCXtA3venEEN_0mGMcQXHQMbcXRkFugL52WeFHpKdwnCT6BgYdVCmr746jCMhQleUbIzOZ4cvSP_JXYQ75W8_uBpmRBNRmc41zfyop0R1JqjLJzOQOT7FmQEtw=w500-h333-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3eCH7PZIryHnCyWrcP__0hNPMrqXrKKKCXtA3venEEN_0mGMcQXHQMbcXRkFugL52WeFHpKdwnCT6BgYdVCmr746jCMhQleUbIzOZ4cvSP_JXYQ75W8_uBpmRBNRmc41zfyop0R1JqjLJzOQOT7FmQEtw=w500-h333-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3eOru4AagcciNAfy37ExaQ8dm_gD0ijUMNZyFeCVXRMyB-n3Nb7BdQ3TKFfeGo10AOM3OIvAYr6N9uEdWTOC2TnDUebg0T6LEGeCttlaJBB6uL9S_mgkYA1GyNgIFI_LvSRovYoaaTaljSdwLPCkqMRcw=w500-h333-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3eOru4AagcciNAfy37ExaQ8dm_gD0ijUMNZyFeCVXRMyB-n3Nb7BdQ3TKFfeGo10AOM3OIvAYr6N9uEdWTOC2TnDUebg0T6LEGeCttlaJBB6uL9S_mgkYA1GyNgIFI_LvSRovYoaaTaljSdwLPCkqMRcw=w500-h333-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3cL7Gw0q3U_qLtGBOIR2OwFnTIBra4Hvg55KfeffePiKSTtOmLuDMwwkl0FG8TpcV5dKTL5zqKW862vm66v38xPoRYX-v0GMMFGj2oaao-VkBDaVmtySDrBssVHVczL2R1r8jZpBtB0u3onKM8dCvZ3qQ=w500-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3cL7Gw0q3U_qLtGBOIR2OwFnTIBra4Hvg55KfeffePiKSTtOmLuDMwwkl0FG8TpcV5dKTL5zqKW862vm66v38xPoRYX-v0GMMFGj2oaao-VkBDaVmtySDrBssVHVczL2R1r8jZpBtB0u3onKM8dCvZ3qQ=w500-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3e1dPDp5aZCniHJ5XzK-mncnBfHTSf-VOMyJK3QwpAh0pO0CUPl3OQ2X8AllD0PJU1PBj5w4GCTRpcepQ3xG0nb98ikQ_KR1G2GMeibo28Eou8p7Nk6YIMwL5aEtarQjKo8YMO69YghmloZolkLj-bUMw=w500-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3e1dPDp5aZCniHJ5XzK-mncnBfHTSf-VOMyJK3QwpAh0pO0CUPl3OQ2X8AllD0PJU1PBj5w4GCTRpcepQ3xG0nb98ikQ_KR1G2GMeibo28Eou8p7Nk6YIMwL5aEtarQjKo8YMO69YghmloZolkLj-bUMw=w500-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3fi03oD3EsPqYz2KTtp6JGarRM_vK78_gJjo1OLB9-sEy3IuHzzmGiD14o_Rgs6nqU-7Ezyuqi6jMx-w68sPaQByFRPz8yewjAyAtNo4RaJZXZXIhBte3onlK-fzJ5FfycjLyhEDrJHyfjR3CcWXIBxpQ=w500-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3fi03oD3EsPqYz2KTtp6JGarRM_vK78_gJjo1OLB9-sEy3IuHzzmGiD14o_Rgs6nqU-7Ezyuqi6jMx-w68sPaQByFRPz8yewjAyAtNo4RaJZXZXIhBte3onlK-fzJ5FfycjLyhEDrJHyfjR3CcWXIBxpQ=w500-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3exjwfwHPe0fh3hb3zYAh-Xyv7aCzdFU2arS2WzFuZucpKgqGJxLy0AcZ66XVgylLB5SQI1ST0y8VJe-P2ZtOvzn17Cy1E_LHm9MXRJc_Z9xoycLoGXekprwsDvc6ZNbewzctaT-6xFUp9K466VIOknVg=w500-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3exjwfwHPe0fh3hb3zYAh-Xyv7aCzdFU2arS2WzFuZucpKgqGJxLy0AcZ66XVgylLB5SQI1ST0y8VJe-P2ZtOvzn17Cy1E_LHm9MXRJc_Z9xoycLoGXekprwsDvc6ZNbewzctaT-6xFUp9K466VIOknVg=w500-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3dLwHs86u6EfbB0psd1l0gO8KucBmAjiOFXptpY-EMF839gokKOrn1-MSbdyjRYeVyxVSmhgtDIv3Uoa33t8zfpMxV27zrjRFUGw5nlfIFzamqYB6sjQ2iiBr2P9lWdSLLxdB5kc1zkIQOT29ie6yyX_A=w500-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3dLwHs86u6EfbB0psd1l0gO8KucBmAjiOFXptpY-EMF839gokKOrn1-MSbdyjRYeVyxVSmhgtDIv3Uoa33t8zfpMxV27zrjRFUGw5nlfIFzamqYB6sjQ2iiBr2P9lWdSLLxdB5kc1zkIQOT29ie6yyX_A=w500-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3fCWa3noumvOvcZz40k7caGPHRsvD8ZtkYxb2TGf9qMM7QsF_IdXi3Ui1AckYmfiZZWDIY6N_2HV1_J8DYFciNr37H095AMVwV903t4hbI3qjyP7hingA9kAeIwN_Qg6KVyj2U7vUDcXSIN-Z7T3uIaOw=w500-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3fCWa3noumvOvcZz40k7caGPHRsvD8ZtkYxb2TGf9qMM7QsF_IdXi3Ui1AckYmfiZZWDIY6N_2HV1_J8DYFciNr37H095AMVwV903t4hbI3qjyP7hingA9kAeIwN_Qg6KVyj2U7vUDcXSIN-Z7T3uIaOw=w500-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3fwBPTkoc1FHdds2hWH-SOnvPe7YY747x5eKINUZJMML0oJVotf5v3_mgEpwg1sx73a5531MuzNcXvd_vVQGtTtdEVktchHtsl_mSQCF5Oi_8V_w1PDfdrY3hfgCiaSX6dCdH4o1DTAMaIKeYNfol4ewg=w500-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3fwBPTkoc1FHdds2hWH-SOnvPe7YY747x5eKINUZJMML0oJVotf5v3_mgEpwg1sx73a5531MuzNcXvd_vVQGtTtdEVktchHtsl_mSQCF5Oi_8V_w1PDfdrY3hfgCiaSX6dCdH4o1DTAMaIKeYNfol4ewg=w500-h375-no?authuser=0"> </a>

		<a href="https://lh3.googleusercontent.com/pw/ACtC-3fVQAYjlt8_BbEXWPGK2pztcqXCO6QkMQwIQotEyLjQz7LvR2LYN-nLfPy4zYLqK4UKJCEOo9EBGqbZM4i4Ul-WhBwotRnmxtyYcbCDXTKVHuQJ3PMwcdoTLh4nGuFFBUw94sNqgUGElCQpMKBDrf8T9Q=w500-h375-no?authuser=0"> <img id="gallery" src="https://lh3.googleusercontent.com/pw/ACtC-3fVQAYjlt8_BbEXWPGK2pztcqXCO6QkMQwIQotEyLjQz7LvR2LYN-nLfPy4zYLqK4UKJCEOo9EBGqbZM4i4Ul-WhBwotRnmxtyYcbCDXTKVHuQJ3PMwcdoTLh4nGuFFBUw94sNqgUGElCQpMKBDrf8T9Q=w500-h375-no?authuser=0"> </a>
		


	</div>
<hr/>
</div>


<%- include("partials/footer") %>